{
  "extends": "standard",
  "plugins": ["extra-rules"],
  "rules": {
    "extra-rules/no-long-files": [2, 100],
    "complexity": [2, 5],
    "no-var": [2],
    "prefer-const": 1,
    "max-depth": [2, 4]
  }
}
